"$schema" = 'https://starship.rs/config-schema.json'

# not entirely sureg

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style)[$worktree]($style) '

[git_status]
disabled = true

[gcloud]
disabled = true

[nodejs]
disabled = true

[ruby]
disabled = true

[nix_shell]
disabled = true

[rust]
disabled = true

[buf]
disabled = true

[python]
disabled = true
